/* Stylesheet for Crazy Bob's Pumpkin Patch Website */


/* Global Style */
body{
    background-color:#000;
    margin:0;
}

div#container{
    margin:auto;
    width:1024px;
    background-color:orange;
}

header{
    display:block;
    width:100%;
    height:150px;
    background-color:lightgreen;
    background-image:url('/images/pumpkins.jpg');
    background-position:top;
    background-size:1100px;
/*    background-repeat:repeat-x;*/
    border:1px solid orange;
    margin:0;
    padding:0;
}

header h1 {
    color:purple;
    text-shadow: 1px 1px 1px #ffa500;
    text-align: center;
    margin-top:50px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
}
nav{
    float:left;
    width:100%;
    background-color:#654821;
    margin:0;
    padding:0;
    clear:both;
    box-shadow:1px 1px 2px black;
}

 nav ul{
    margin:0;
    padding:0;
    list-style: none;
    color:white;
}

nav ul li{
    float:left;
}

nav ul li a{
    display:block;
    text-decoration:none;
    color:white;
    text-align: center;
    padding: 14px 16px
}

nav ul li a:hover {
    background-color: blueviolet;
}

nav .active{
    background-color:#FF530D;
}

#content{
    width:100%    
}

.keepOpen{
    clear:both;
}

footer{
    width:100%;
    background-color: black;
    color:orange;
    text-align:center;
}

/* index.html style */
#h2-main{
    float:left;
    width:60%;
    color:brown;
/*
    text-shadow:1px 1px 1px black 
        ;
*/
    margin-left:0;
    margin-bottom:0;
}

#imgMain{
    display: block;
    width:350px;
    margin:10px;
    border:5px brown outset;
    float:left;
    /* 
    margin-top:3px;
    margin-right:20px;
    margin-bottom:5px;
    margin-left:10px;
    */
    
}

#p-main{
    width:640px;
    float:left;
    margin-top:10px;
    
}

/* About.html */
img#bob-pic{
    width:500px;
    margin:10px;
    border:5px outset brown;
    float:left;
}

h2#h2-about{
    float:left;
    margin-top:5px;
    margin-bottom:0;
}

p#p-about{
    float:left;
    width:48%;
    margin-top:10px;
}
/* produce.html */
#gallery{
    border:3px dotted green;
    width:100%;
    
}

figure{
    border:2px brown outset;
    box-shadow:1px 1px 10px #835d16;
    background-color:burlywood;
    width:250px;
    float:left;
    margin:10px 15px;
    /* CSS Gradient 
    background: #f6e6b4;
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%);
    background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 );  */  
}

figure img{
    display:block;
    width:200px;
    height:150px;
    margin:10px auto;
    border:2px inset brown;
}

figcaption{
    text-align:center;
    margin-bottom:10px;
    font-family:sans-serif;
}











































